@using Planner.Components.Shared.Filters.Model
@typeparam TItem

<div class="d-flex flex-wrap gap-1 mt-2">
    @foreach (var (item, included) in Selection.Merged.OrderBy(item => $"{item}"))
    {
        <MudChip T="TItem"
                 Value="@(item)"
                 Size="Size.Small"
                 Variant="Variant.Outlined"
                 Color="@(included ? Color.Success : Color.Error)"
                 Icon="@(included ? Icons.Material.Outlined.Check : Icons.Material.Outlined.Block)"
                 OnClick="@(() => OnToggleAsync(item))"
                 OnClose="@(() => OnRemoveAsync(item))">
            @ChildContent(item)
        </MudChip>
    }
</div>

@code {
    [Parameter, EditorRequired] public required IFilterSelection<TItem> Selection { get; set; }
    [Parameter, EditorRequired] public required RenderFragment<TItem> ChildContent { get; set; }

    [Parameter, EditorRequired] public required EventCallback<IFilterSelection<TItem>> SelectionChanged { get; set; }

    private Task OnToggleAsync(TItem val) => SelectionChanged.InvokeAsync(Selection.Toggle(val));
    private Task OnRemoveAsync(TItem val) => SelectionChanged.InvokeAsync(Selection.Remove(val));
}