@using System.Collections.Immutable
@using Planner.Components.Shared.Filters.Model
@typeparam TItem

<div class="d-flex flex-column gap-1">
    <MudAutocomplete @ref="_autocomplete" T="TItem"
                     Label="@Label"
                     Placeholder="@Placeholder"
                     Value="default(TItem)"
                     ValueChanged="OnItemSelected"
                     SearchFunc="@SearchFunc"
                     Clearable="false"
                     ResetValueOnEmptyText="true"
                     CoerceText="false"
                     CoerceValue="false"
                     Variant="Variant.Outlined"
                     Margin="Margin.Dense"> 
        
        <ItemTemplate>
            @if (ChildContent is not null)
            {
                @ChildContent(context)
            }
            else
            {
                @($"{context}");
            }
        </ItemTemplate>
        
    </MudAutocomplete>

    <FilterPillsControl TItem="TItem" Selection="Selection">
        @if (ChildContent is not null)
        {
            @ChildContent(context)
        }
        else
        {
            @($"{context}");
        }
    </FilterPillsControl>
</div>

@code {
    private MudAutocomplete<TItem>? _autocomplete;

    [Parameter, EditorRequired] public required ImmutableArray<TItem> Items { get; set; }
    [Parameter, EditorRequired] public required IFilterSelection<TItem> Selection { get; set; }
    
    [Parameter] public string Label { get; set; } = "Search...";
    [Parameter] public string Placeholder { get; set; } = "Start typing...";
    
    [Parameter] public RenderFragment<TItem>? ChildContent { get; set; }
    
    private Task<IEnumerable<TItem>> SearchFunc(string value, CancellationToken _)
    {
        var available = Items.Where(item => !Selection.All.Contains(item));
        
        var result = string.IsNullOrWhiteSpace(value) 
            ? available 
            : available.Where(item => $"{item}".Trim().StartsWith(value, StringComparison.OrdinalIgnoreCase));
        
        return Task.FromResult(result.Take(50));
    }

    private async Task OnItemSelected(TItem? item)
    {
        if (item is null) return;

        Selection = Selection.Add(item);

        if (_autocomplete is not null) 
        {
            await _autocomplete.ClearAsync();
        }
    }
}