@using Planner.Components.Shared.Filters.Model
@typeparam TItem

<div class="d-flex flex-column gap-1">
    <MudSelect T="TItem"
               Label="@Label"
               Placeholder="@Placeholder"
               Disabled="@Disabled"
               SelectedValues="SelectedValues"
               SelectedValuesChanged="OnSelectedValuesChanged"
               MultiSelection="true"
               Clearable="true"
               AnchorOrigin="Origin.BottomCenter"
               Variant="Variant.Outlined"
               Margin="Margin.Dense">
               
        @foreach (var item in Items.OrderBy(item => $"{item}"))
        {
            <MudSelectItem T="TItem" Value="@item">
                @if (ChildContent is not null)
                {
                    @ChildContent(item)
                }
                else
                {
                    @($"{item}");
                }
            </MudSelectItem>
        }
    </MudSelect>

    <FilterPillsControl TItem="TItem" 
                        Selection="Selection" 
                        SelectionChanged="SelectionChanged">
        @if (ChildContent is not null)
        {
            @ChildContent(context)
        }
        else
        {
            @($"{context}")
        }
    </FilterPillsControl>
</div>

@code {
    [Parameter, EditorRequired] public required IEnumerable<TItem> Items { get; set; }
    [Parameter, EditorRequired] public required IFilterSelection<TItem> Selection { get; set; }
    
    [Parameter] public EventCallback<IFilterSelection<TItem>> SelectionChanged { get; set; }
    
    [Parameter] public bool Disabled { get; set; } = true;
    [Parameter] public string Label { get; set; } = "Select...";
    [Parameter] public string Placeholder { get; set; } = "Select a value...";
    [Parameter] public RenderFragment<TItem>? ChildContent { get; set; }

    private IReadOnlyList<TItem> SelectedValues => Selection.Items.ToArray();

    private async Task OnSelectedValuesChanged(IEnumerable<TItem> values)
    {
        var current = SelectedValues.ToArray();
        var @new = values.ToArray();
        
        var addedItems = @new.Except(current).ToList();
        var removedItems = current.Except(@new).ToList();

        var selection = Selection;

        foreach (var item in addedItems)
        {
            selection = selection.Add(item);
        }

        foreach (var item in removedItems)
        {
            selection = selection.Remove(item);
        }

        await SelectionChanged.InvokeAsync(selection);
    }
}