@using Planner.Model.Abstract
@typeparam TItem

<div class="d-flex align-center" style="gap: 8px;">
    <MudAvatar
        Color="@Color"
        Variant="Variant.Outlined"
        Rounded="@Rounded"
        Square="@Square"
        Size="@Size">
        
        @{ var imageUrl = GetImageUrl(); }

        @if (Item is not IAvatar and not IIcon)
        {
            @Name
        }
        else if (string.IsNullOrWhiteSpace(imageUrl) && !string.IsNullOrWhiteSpace(Name))
        {
            @GetInitials()
        }
        else if (!string.IsNullOrWhiteSpace(imageUrl))
        {
            <MudImage Src="@imageUrl" Alt="@($"{Name} Icon")"></MudImage>
        }
    </MudAvatar>

    @if (ShowText)
    {
        <MudText Typo="Typo.body2" Class="fw-500 mud-text-secondary mb-0" Style="line-height: 1;">
            @Name
        </MudText>
    }
</div>

@code {
    [Parameter, EditorRequired] public required TItem Item { get; set; }

    [Parameter] public int SizePx { get; set; } = 16;
    [Parameter] public Color Color { get; set; } = Color.Transparent;
    
    [Parameter] public bool Rounded { get; set; }
    [Parameter] public bool Square { get; set; }

    [Parameter] public bool ShowText { get; set; } = true;
    
    private string Name => $"{Item}";
    
    private Size Size =>
        SizePx switch
        {
            <= 16 => Size.Small,
            <= 24 => Size.Medium,
            <= 32 => Size.Large,
            _ => Size.Medium
        };

    private string? GetImageUrl() =>
        Item switch
        {
            IIcon icon => icon.IconUrl,
            IAvatar { Avatars: not null } avatar => SizePx switch
            {
                <= 16 => avatar.Avatars._16x16,
                <= 24 => avatar.Avatars._24x24,
                <= 32 => avatar.Avatars._32x32,
                _ => avatar.Avatars._48x48
            },
            _ => null
        };

    private string GetInitials() => string.IsNullOrWhiteSpace(Name) 
        ? string.Empty 
        : string.Concat(Name.Take(2)).ToUpper();
}